<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>DevSeb</title>
</head>
<body>
    <%- include('../partials/header-page-admin') %>
    <main class="container mt-4">
        <section class="row">
            <h1 class="col-12">Mis publicaciones</h1>
            <article class="col-12">
                <div class="w-100 text-end">
                    <a class="btn btn-success" href="/admin/agregar_publicacion">Crear publicación</a>
                </div>
                <% if(mensaje && mensaje.length > 0) {%>
                  <h4><i class="fa-solid fa-info"></i>
                    <%=mensaje%>
                  </h4>
                <%}%>
                <table class="table mt-3">
                    <thead>
                      <tr>
                        <th scope="col">titulo</th>
                        <th scope="col">resumen</th>
                        <th scope="col">votos</th>
                        <th scope="col">acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% publicaciones.forEach((publicacion) => { %>
                      <tr>
                        <td><%=publicacion.titulo%></td>
                        <td><%=publicacion.resumen%></td>
                        <td><%=publicacion.votos%></td>
                        <td>
                          <a href="/admin/procesar_eliminar_publicacion/<%=publicacion.id%>" class="btn btn-danger mx-1"  onclick="return confirm('¿Está seguro de eliminar: <%=publicacion.titulo%>?')"><i class="fa-solid fa-trash fa-1x"></i></a>
                          <a href="/admin/editar_publicacion/<%=publicacion.id%>" class="btn btn-primary mx-1"><i class="fa-solid fa-pencil fa-1x"></i></a>
                        </td>
                      </tr>
                      <%})%>
                    </tbody>
                </table>
            </article>
        </section>
    </main>
    <%- include('../partials/footer-page') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>